aiohttp==3.8.4
aiosignal==1.3.1
asgiref==3.6.0
async-timeout==4.0.2
attrs==23.1.0
backoff==1.11.1
bottle==0.12.25
certifi==2023.5.7
charset-normalizer==3.1.0
dj-stripe==2.7.3
Django==3.2
django-environ==0.10.0
frozenlist==1.3.3
idna==3.4
jsonfield==3.1.0
multidict==6.0.4
oauthlib==3.2.2
proxy-tools==0.1.0
psycopg2==2.9.6
psycopg2-binary==2.9.6
pyobjc-core==9.1.1
pyobjc-framework-Cocoa==9.1.1
pyobjc-framework-WebKit==9.1.1
pytz==2023.3
pywebview==4.1
redis==4.5.5
requests==2.30.0
requests-oauthlib==1.3.1
six==1.16.0
spotify==0.10.2
spotipy==2.23.0
sqlparse==0.4.4
stripe==4.2.0
TeslaPy==2.7.0
urllib3==2.0.2
websocket-client==1.5.1
yarl==1.9.2
