{% extends 'base.html' %}

{% block extra_head %}
    <script async src="https://js.stripe.com/v3/buy-button.js"></script>
{% endblock %}

{% block main %}
    <section class="nes-container login_container">
        <stripe-buy-button
                buy-button-id="buy_btn_1NCsZrGuFaOgG2PFuOVslrRi"
                customer-email="{{ request.user.email }}"
                publishable-key="pk_live_51NCrtEGuFaOgG2PFZVFeBgbsmLGd3xoH9NmGTX0kyknxpmMp8gDCCqpxXA4FjMKU5oEMPgDwXS03W2kOihIpMdvc00oTOSozw2">
        </stripe-buy-button>
    </section>
{% endblock %}

