{% extends 'base.html' %}

{% block extra_head %}
    <script async src="https://js.stripe.com/v3/buy-button.js"></script>
{% endblock %}

{% block main %}
    <section class="nes-container login_container">
        <stripe-buy-button
                buy-button-id="buy_btn_1NCsqtGuFaOgG2PFsXh930SG"
                publishable-key="pk_test_51NCrtEGuFaOgG2PF6NVOzWOL0FTi1mgMw0nKDSIVWQLo05ppjjF8wMWYhcu6D5FwAaIdk2Rb52FzFYgrY3zWdCPh00pg6Cbglo">
        </stripe-buy-button>
    </section>
{% endblock %}

